* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f3f3;
    padding-top: 50px; /* nav bar */
/*    overflow-x: hidden;
    overflow-y: hidden;*/
}

#nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
    border-bottom: 2px solid black;
/*    background-color: rgb(0, 235, 255);*/
}

    #nav > #logo {
        color: #FFF;
        font-weight: 900;
    }

    #nav > #chat-headind {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
/*        background-color:rgb(62, 252, 11);*/
    }

        #nav > #chat-headind > username {
            color: #000000;
            font-size: 1.5rem;
            padding: 0px 5px 3px 5px;
            text-decoration: none;
        }

        #nav > #chat-headind > a {
            color: rgb(0, 0, 0);
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            padding: 0px 5px 3px 5px;
            text-decoration: none;
        }

            #nav > #chat-headind > a:is(:hover, :focus) {
                background-color: rgb(255, 255, 255, 0.15);
                transform: scale(1.1);
            }


#main {
    height: calc(100vh - 50px); /*NAV*/
    width: 100vw;
    position:fixed;
    background-color: rgb(175, 150, 227);
}

#content {
    padding: 10px;
}

#chat-content {
    height: calc(100% - 20px); /*CONTENT PADDING*/
/*    display: flex;
    align-items: center;
    justify-content: space-around;*/
    background-color: rgb(255, 255, 255);
}


#chat-box {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}



#input-container {
    display: flex;
    gap: 0.2rem;
    /*    margin-top: 0.2rem;*/
    justify-content: center;
}

    #input-container > #input-container-writebox {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        background-color: rgb(255 255 255 / 10%);
        border-radius: 0.2rem;
        border-bottom-left-radius: 0.5rem;
    }

        #input-container > #input-container-writebox > textarea {
            display: flex;
            width: 500px;
            height: 30px;
            padding: 5px 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: #e1e3ef;
            overflow-x: hidden;
            overflow-y: hidden;
        }

            #input-container > #input-container-writebox > textarea:focus {
                background-color: #c6ccee;
            }

    #input-container > button {
        background-color: rgb(255 0 0);
        border: none;
        color: black;
        font-size: 1rem;
        width: 3.5rem;
        font-weight: 700;
        border-radius: 10px;
        color: white;
        background-color: #692be2;
        cursor: pointer;
    }

        #input-container > button:hover {
            background-color: #7b47e2;
        }
